@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

h1,
h2,
h3,
h4,
h5 {
	font-family: "Inter", sans-serif;
}

p {
	font-family: "Lexend Deca", sans-serif;
}

body {
	background-color: hsl(233, 47%, 7%);
	margin: 0;
	padding: 0;
}

section {
	transition: all 0.5s ease-in-out;
}

#loading-screen {
	width: 100vw;
	height: 100vh;
	background-color: hsl(233deg, 47%, 7%);
	position: absolute;
	top: 0;
	justify-content: center;
	align-items: center;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	color: hsla(0, 0%, 100%, 0.75);
	transition: 0.5s ease-in-out all;
}

#loading-screen:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4, end) 900ms infinite;
	animation: ellipsis steps(4, end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1.25rem;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1.25rem;
	}
}

#card {
	height: 100vh;
	display: flex;
	align-items: center;
	.purple {
		color: hsl(277, 64%, 61%);
	}
	.card-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 80vw;
		height: 490px;
		width: 100vw;
		overflow: hidden;
		margin: 0 auto;
		@media screen and (max-width: 1100px) {
			flex-direction: column-reverse;
			max-width: 100%;
			height: 90%;
		}
		.text-container {
			.body-content {
				line-height: 25px;
				max-width: 445px;
				@media screen and (max-width: 1100px) {
					margin: 0 auto;
				}
			}
			.text-content {
				padding: 0 35px;
				@media screen and (max-width: 1100px) {
					padding: 0;
					text-align: center;
				}
			}
			width: 50%;
			height: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			background-color: hsl(244, 38%, 16%);
			border-radius: 10px 0 0 10px;
			@media screen and (max-width: 1100px) {
				border-radius: 0 0 10px 10px;
				width: 85%;
			}
			h1 {
				color: hsl(0, 0%, 100%);
				margin: 0;
				padding: 30px 30px 0 30px;
				font-size: 2.5rem;
				max-width: 445px;
				@media screen and (max-width: 1100px) {
					margin: 0 auto;
				}
			}

			p {
				color: hsla(0, 0%, 100%, 0.75);
				font-size: 15px;
				padding: 0 30px 0 30px;
			}
		}

		.image-container {
			height: 100%;
			width: 45%;
			position: relative;
			overflow: hidden;
			border-radius: 0 10px 10px 0;
			@media screen and (max-width: 1100px) {
				border-radius: 10px 10px 0 0;
				width: 85%;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 0 10px 10px 0;
				@media screen and (max-width: 1100px) {
					border-radius: 10px 10px 0 0;
				}
			}
			&:after {
				background-color: hsla(277, 64%, 61%, 50%);
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.number-container {
			display: flex;
			align-items: center;
			margin-top: 30px;
			@media screen and (max-width: 1100px) {
				display: block;
				text-align: center;
				margin-bottom: 30px;
			}
			.number-flex {
				display: flex;
				@media screen and (max-width: 1100px) {
					justify-content: center;
				}
				h5 {
					padding-left: 0;
					margin: 0;
					font-size: 1.5rem;
					color: hsl(0, 0%, 100%);
				}
			}
			h4 {
				font-size: 1.5rem;
				color: hsl(0, 0%, 100%);
				margin: 0;
				padding: 0 0 0 30px;
				@media screen and (max-width: 1100px) {
					padding: 0;
				}
			}
			p {
				margin-top: 10px;
				text-transform: uppercase;
			}
		}
	}
}
